{
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "no-param-reassign": 0,
  },
  "plugins": [
    "import"
  ],
  "env": {
    "jasmine": true,
    "jest": true
  }
}
